/* ===================================
Fonts : Raleway, Open Sans
Colors : 
    Moon Yellow : #f4c613
    Grey        : #212226
    White Smoke : #f4f4f4
    White:      : #fff
    Black       : #000
======================================*/

$color_moon_yellow  : #f4c613;
$color_grey         : #212226;
$color_white_smoke  : #f4f4f4;
$color_white        : #fff;
$color_white_light_1: #eee;
$color_black        : #000;

$breakpoint-tablet: 767px;