footer {
    background: $color-grey;
    padding: 3rem;
}

footer p {
    color: $color-white;
    line-height: 2rem;
    margin: 0;
}

footer span {
    color: $color-moon-yellow;
    line-height: 2rem;
}