#preloader {
    position: fixed;
    background-color: $color-white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}


#status {
    background-image: url("../img/preloader/preloader.gif");
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -35px;
    margin-right: -35px;
}