#testimonials {
    background-color: $color_white_smoke;
    color: $color-white;
}
#testimonials-slider { 
    background-color: $color_moon_yellow;
    top:-120px;
    padding: 4rem 3rem 1rem;
    .testimonial {
        img {
            @include circle-img();
        }
        h3{
            font-size: 32px;
            line-height: 35px;
            margin-bottom: 25px;
        }
        p{
            line-height: normal;
            margin-top: 5px;
            margin-bottom: 20px;
        } 
    }
}

.author{
    .description{
        width: 300px;
        margin-top: 25px;
        text-align: left;
        margin-left: 15px;

        .name {
            margin: 0 !important;
        }
        .role {
            font-style: italic;
        }
    }
}
.owl-nav {
    margin-top: 0 !important;
    .owl-prev,
    .owl-next {
        outline: 0;
        &:hover{
            background-color: transparent !important;
        }
    
        span {
            font-size: 40px;
            color: black;
        }
    }
}