.circle-img .home-intro{
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
}
.home-intro{ 
    -webkit-animation-duration: 1s; 
            animation-duration: 1s;
}

#pi1 { -webkit-animation-delay: 1s; animation-delay: 1s; } 
#pi2 { -webkit-animation-delay: 1.2s; animation-delay: 1.2s; } 
#pi3 { -webkit-animation-delay: 1.4s; animation-delay: 1.4s; } 
#pi4 { -webkit-animation-delay: 1.6s; animation-delay: 1.6s; } 
#pi5 { -webkit-animation-delay: 1.8s; animation-delay: 1.8s; } 
#pi6 { -webkit-animation-delay: 2s; animation-delay: 2s; } 
#pi7 { -webkit-animation-delay: 2.2s; animation-delay: 2.2s; } 
#pi8 { -webkit-animation-delay: 2.4s; animation-delay: 2.4s; }
#pi9 { -webkit-animation-delay: 2.5s; animation-delay: 2.5s; } 
#pi10 { -webkit-animation-delay: 2.6s; animation-delay: 2.6s; } 
#pi11 { -webkit-animation-delay: 2.7s; animation-delay: 2.7s; } 
#pi12 { -webkit-animation-delay: 2.8s; animation-delay: 2.8s; } 
#pi13 { -webkit-animation-delay: 2.9s; animation-delay: 2.9s; } 
#pi14 { -webkit-animation-delay: 3s; animation-delay: 3s; } 
#pi15 { -webkit-animation-delay: 3.1s; animation-delay: 3.1s; } 
#pi16 { -webkit-animation-delay: 3.2s; animation-delay: 3.2s; }