.circle-img .home-intro{
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
}
.home-intro{ 
    -webkit-animation-duration: 1s; 
            animation-duration: 1s;
}

#pi1 { -webkit-animation-delay: 1s; animation-delay: 1s; } 
#pi2 { -webkit-animation-delay: 1.2s; animation-delay: 1.2s; } 
#pi3 { -webkit-animation-delay: 1.4s; animation-delay: 1.4s; } 
#pi4 { -webkit-animation-delay: 1.6s; animation-delay: 1.6s; } 
#pi5 { -webkit-animation-delay: 1.8s; animation-delay: 1.8s; } 
#pi6 { -webkit-animation-delay: 2s; animation-delay: 2s; } 